body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../Assets/hero/back');
  background-size: cover;
  background-position: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
}

.login-box h2 {
  margin-bottom: 20px;
  color: white;
}

.login-box input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.login-box button {
  width: 70%; 
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #1e90ff;
  color: white;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #00aaff;
}

.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  margin-left: 15%; 
  margin-bottom: 20px;
}

.remember-forgot label {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.remember-forgot .remember {
  margin-right: 5px;
}

.error-message {
  color: red;
  font-size: 17px;
  margin-top: 10px;
}

.success-message {
  color: green;
  font-size: 17px;
  margin-top: 10px;
}

.login-box span {
  color: #00aaff;
  cursor: pointer;
}

.dont {
  color: white;
  font-size: 15px;
  margin-top: 20px;
}
